p {
    color: maroon;
    text-align: center;
    font-size: 25px;
}

body {
    text-align: center;
    background-color: linen;
}

form {
    color: maroon;
    text-align: center;
    font-size: 20px;
}
